@import '../../styles/variables';
@import '../../styles/colors';

.input-field {
  margin-bottom: 0.5rem;
  label {
    display: block;
    color: $gray500;
    margin-bottom: 0.25rem;
  }
  input {
    width: 100%;
    font-size: 1rem;
    color: $gray500;
    background: transparent;
    border-style: solid;
    border-color: currentColor;
    padding: 0.5rem 0.25rem;
    transition: $default-transition;
    outline: none;
    &:active, &:focus {
      color: $gray100;
    }
    &:hover {
      color: $gray300;
    }
  }
}

